ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=swyftly;Username=swyftly;Password=change_me

POSTGRES_DB=swyftly
POSTGRES_USER=swyftly
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

SWYFTLY_WEB_API_BASE_URL=https://localhost:7101

SWYFTLY_RUN_POSTGRES_TESTS=false
SWYFTLY_TEST_POSTGRES_CONNECTION=Host=localhost;Port=5432;Database=swyftly_integration_tests;Username=swyftly;Password=change_me
